apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rustfs.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
data:
  RUSTFS_ADDRESS: {{ .Values.config.rustfs.address | quote }}
  RUSTFS_CONSOLE_ENABLE: {{ .Values.config.rustfs.console_enable | quote }}
  RUSTFS_CONSOLE_ADDRESS: {{ .Values.config.rustfs.console_address | quote }}
  RUSTFS_OBS_LOG_DIRECTORY: {{ .Values.config.rustfs.obs_log_directory | quote }}
  RUSTFS_LOG_LEVEL: {{ .Values.config.rustfs.log_level | quote }}
  RUST_LOG: {{ .Values.config.rustfs.rust_log | quote }}
  {{- if eq (int .Values.replicaCount) 1}}
  {{- if eq (int .Values.dataVolumeCount) 1 }}
  RUSTFS_VOLUMES: "/data-0"
  {{- else }}
  RUSTFS_VOLUMES: {{ printf "http://%s-0.%s-headless.%s.svc.cluster.local:%d/data-{0...%d}" (include "rustfs.fullname" .) (include "rustfs.fullname" .) (.Release.Namespace) (int .Values.service.endpoint.port) (sub (int .Values.dataVolumeCount) 1) }}
  {{- end }}
  {{- else }}
  {{- if eq (int .Values.dataVolumeCount) 1 }}
  RUSTFS_VOLUMES: {{ printf "http://%s-{0...%d}.%s-headless.%s.svc.cluster.local:%d/data-0" (include "rustfs.fullname" .) (sub (int .Values.replicaCount) 1) (include "rustfs.fullname" .) (.Release.Namespace) (int .Values.service.endpoint.port) }}
  {{- else }}
  RUSTFS_VOLUMES: {{ printf "http://%s-{0...%d}.%s-headless.%s.svc.cluster.local:%d/data-{0...%d}" (include "rustfs.fullname" .) (sub (int .Values.replicaCount) 1) (include "rustfs.fullname" .) (.Release.Namespace) (int .Values.service.endpoint.port) (sub (int .Values.dataVolumeCount) 1) }}
  {{- end }}
  {{- end }}
  RUSTFS_OBS_ENVIRONMENT: {{ .Values.config.rustfs.obs_environment | quote }}
  {{- if .Values.config.rustfs.region }}
  RUSTFS_REGION: {{ .Values.config.rustfs.region | quote }}
  {{- end }}
